node-red/flows.json
[
    {"id":"tab_auto","type":"tab","label":"Automação AC","disabled":false,"info":"Lógica automática de controle do AC."},
    {"id":"tab_global","type":"tab","label":"Controle Global","disabled":false,"info":"Comandos para todas as salas."},
    {"id":"tab_sala01","type":"tab","label":"Sala 01","disabled":false,"info":"Controle individual da Sala 01."},
    {"id":"tab_sala02","type":"tab","label":"Sala 02","disabled":false,"info":"Controle individual da Sala 02."},
    {"id":"tab_sala03","type":"tab","label":"Sala 03","disabled":false,"info":"Controle individual da Sala 03."},
    {
        "id":"mqtt_broker_docker","type":"mqtt-broker","name":"Mosquitto Docker",
        "broker":"mosquitto","port":"1883","clientid":"nodered_client",
        "autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60",
        "cleansession":true,"autoUnsubscribe":true,
        "birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},
        "closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},
        "willTopic":"","willQos":"0","willPayload":"","willMsg":{},
        "userProps":"","sessionExpiry":""
    },

    {"id":"mqtt_in_sensores","type":"mqtt in","z":"tab_auto","name":"Sensores ac-iot/+/sensores","topic":"ac-iot/+/sensores","qos":"0","datatype":"json","broker":"mqtt_broker_docker","nl":false,"rap":true,"rh":0,"inputs":0,"x":180,"y":120,"wires":[["func_auto","dbg_sensor"]]},
    {
        "id":"func_auto","type":"function","z":"tab_auto",
        "name":"Automação AC (Temp + Presença + Timer 1min)",
        "func":"var payload = msg.payload;\nif (typeof payload === 'string') {\n    try { payload = JSON.parse(payload); }\n    catch(e) { return null; }\n}\nif (!payload) return null;\nif (payload.hasOwnProperty('comando')) return null;\nif (payload.modo_ac === 'desativado') return null;\n\nvar id_sala = payload.id_sala;\nif (!id_sala && msg.topic) {\n    var p = msg.topic.split('/');\n    if (p.length >= 2) id_sala = p[1];\n}\nif (!id_sala || id_sala === 'all') return null;\n\nvar temp = Number(payload.temperatura);\nif (!Number.isFinite(temp)) return null;\n\nvar set = Number.isFinite(Number(payload.setpoint_ac)) ? Number(payload.setpoint_ac) : 22;\nvar m = 2;\nvar stAC = payload.status_ac;\nvar pres = payload.presenca === true;\nvar now = Date.now();\n\nvar ctx = context.get('salas') || {};\nif (!ctx[id_sala]) ctx[id_sala] = { lastPres: now, done: false };\nvar s = ctx[id_sala];\nif (pres) { s.lastPres = now; s.done = false; }\ncontext.set('salas', ctx);\n\nvar acao = null, razao = '';\n\nif (pres) {\n    if (stAC !== 'ligado' && temp > (set + m)) { acao = 'ligar'; razao = 'presenca_calor'; }\n    else if (stAC === 'ligado' && temp < (set - m)) { acao = 'desligar'; razao = 'presenca_frio'; }\n} else {\n    if (stAC === 'ligado' && temp < (set - m)) { acao = 'desligar'; razao = 'sem_presenca_frio'; }\n    var mins = (now - s.lastPres) / 60000;\n    if (mins >= 1 && stAC === 'ligado' && !s.done) {\n        acao = 'desligar'; razao = 'ausencia_1min';\n        s.done = true; context.set('salas', ctx);\n        node.warn(id_sala + ': AC desligado por ausência (1min)');\n    }\n}\n\nif (!acao) return null;\nreturn { topic: 'ac-iot/' + id_sala + '/comando', payload: { id_sala: id_sala, comando: acao, razao: 'automacao_' + razao } };",
        "outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],
        "x":520,"y":120,"wires":[["mqtt_out_auto","dbg_auto"]]
    },
    {"id":"mqtt_out_auto","type":"mqtt out","z":"tab_auto","name":"Enviar Comando","topic":"","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"mqtt_broker_docker","x":810,"y":100,"wires":[]},
    {"id":"dbg_sensor","type":"debug","z":"tab_auto","name":"Debug Sensores","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":60,"wires":[]},
    {"id":"dbg_auto","type":"debug","z":"tab_auto","name":"Debug Automação","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":160,"wires":[]},

    {"id":"mqtt_out_global","type":"mqtt out","z":"tab_global","name":"Publicar Global","topic":"","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"mqtt_broker_docker","x":620,"y":300,"wires":[]},

    {"id":"g_ativar","type":"inject","z":"tab_global","name":"🛡️ Ativar Todas","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ac-iot/all/comando","payload":"{\"modo_ac\":\"ativo\"}","payloadType":"json","x":170,"y":60,"wires":[["mqtt_out_global"]]},
    {"id":"g_desativar","type":"inject","z":"tab_global","name":"🛡️ Desativar Todas","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ac-iot/all/comando","payload":"{\"modo_ac\":\"desativado\",\"comando\":\"desligar\"}","payloadType":"json","x":180,"y":110,"wires":[["mqtt_out_global"]]},

    {"id":"g_ac_on","type":"inject","z":"tab_global","name":"❄️ Ligar Todos ACs","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ac-iot/all/comando","payload":"{\"comando\":\"ligar\"}","payloadType":"json","x":180,"y":180,"wires":[["mqtt_out_global"]]},
    {"id":"g_ac_off","type":"inject","z":"tab_global","name":"❄️ Desligar Todos ACs","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ac-iot/all/comando","payload":"{\"comando\":\"desligar\"}","payloadType":"json","x":190,"y":230,"wires":[["mqtt_out_global"]]},

    {"id":"g_luz_on","type":"inject","z":"tab_global","name":"💡 Ligar Todas Luzes","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ac-iot/all/comando","payload":"{\"luz\":\"ligar\"}","payloadType":"json","x":180,"y":300,"wires":[["mqtt_out_global"]]},
    {"id":"g_luz_off","type":"inject","z":"tab_global","name":"💡 Desligar Todas Luzes","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ac-iot/all/comando","payload":"{\"luz\":\"desligar\"}","payloadType":"json","x":190,"y":350,"wires":[["mqtt_out_global"]]},

    {"id":"g_set20","type":"inject","z":"tab_global","name":"🌡️ Setpoint 20°C","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ac-iot/all/comando","payload":"{\"setpoint\":20}","payloadType":"json","x":180,"y":420,"wires":[["mqtt_out_global"]]},
    {"id":"g_set22","type":"inject","z":"tab_global","name":"🌡️ Setpoint 22°C","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ac-iot/all/comando","payload":"{\"setpoint\":22}","payloadType":"json","x":180,"y":470,"wires":[["mqtt_out_global"]]},
    {"id":"g_set25","type":"inject","z":"tab_global","name":"🌡️ Setpoint 25°C","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ac-iot/all/comando","payload":"{\"setpoint\":25}","payloadType":"json","x":180,"y":520,"wires":[["mqtt_out_global"]]},

    {"id":"g_pres_on","type":"inject","z":"tab_global","name":"👤 Presença ON (todas)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ac-iot/all/comando","payload":"{\"presenca\":true}","payloadType":"json","x":190,"y":590,"wires":[["mqtt_out_global"]]},
    {"id":"g_pres_off","type":"inject","z":"tab_global","name":"👤 Presença OFF (todas)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ac-iot/all/comando","payload":"{\"presenca\":false}","payloadType":"json","x":190,"y":640,"wires":[["mqtt_out_global"]]},

    {"id":"out_s01","type":"mqtt out","z":"tab_sala01","name":"Comando Sala01","topic":"","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"mqtt_broker_docker","x":600,"y":300,"wires":[]},
    {"id":"s01_ativar","type":"inject","z":"tab_sala01","name":"🛡️ Ativar Sala","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ac-iot/sala01/comando","payload":"{\"modo_ac\":\"ativo\"}","payloadType":"json","x":170,"y":60,"wires":[["out_s01"]]},
    {"id":"s01_desativar","type":"inject","z":"tab_sala01","name":"🛡️ Desativar Sala","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ac-iot/sala01/comando","payload":"{\"modo_ac\":\"desativado\",\"comando\":\"desligar\"}","payloadType":"json","x":180,"y":110,"wires":[["out_s01"]]},
    {"id":"s01_ac_on","type":"inject","z":"tab_sala01","name":"❄️ Ligar AC","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ac-iot/sala01/comando","payload":"{\"comando\":\"ligar\"}","payloadType":"json","x":160,"y":180,"wires":[["out_s01"]]},
    {"id":"s01_ac_off","type":"inject","z":"tab_sala01","name":"❄️ Desligar AC","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ac-iot/sala01/comando","payload":"{\"comando\":\"desligar\"}","payloadType":"json","x":170,"y":230,"wires":[["out_s01"]]},
    {"id":"s01_luz_on","type":"inject","z":"tab_sala01","name":"💡 Ligar Luz","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ac-iot/sala01/comando","payload":"{\"luz\":\"ligar\"}","payloadType":"json","x":160,"y":300,"wires":[["out_s01"]]},
    {"id":"s01_luz_off","type":"inject","z":"tab_sala01","name":"💡 Desligar Luz","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ac-iot/sala01/comando","payload":"{\"luz\":\"desligar\"}","payloadType":"json","x":170,"y":350,"wires":[["out_s01"]]},
    {"id":"s01_set20","type":"inject","z":"tab_sala01","name":"🌡️ Set 20°C","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ac-iot/sala01/comando","payload":"{\"setpoint\":20}","payloadType":"json","x":160,"y":420,"wires":[["out_s01"]]},
    {"id":"s01_set22","type":"inject","z":"tab_sala01","name":"🌡️ Set 22°C","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ac-iot/sala01/comando","payload":"{\"setpoint\":22}","payloadType":"json","x":160,"y":470,"wires":[["out_s01"]]},
    {"id":"s01_set25","type":"inject","z":"tab_sala01","name":"🌡️ Set 25°C","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ac-iot/sala01/comando","payload":"{\"setpoint\":25}","payloadType":"json","x":160,"y":520,"wires":[["out_s01"]]},
    {"id":"s01_pres_on","type":"inject","z":"tab_sala01","name":"👤 Presença ON","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ac-iot/sala01/comando","payload":"{\"presenca\":true}","payloadType":"json","x":170,"y":590,"wires":[["out_s01"]]},
    {"id":"s01_pres_off","type":"inject","z":"tab_sala01","name":"👤 Presença OFF","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ac-iot/sala01/comando","payload":"{\"presenca\":false}","payloadType":"json","x":170,"y":640,"wires":[["out_s01"]]},

    {"id":"out_s02","type":"mqtt out","z":"tab_sala02","name":"Comando Sala02","topic":"","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"mqtt_broker_docker","x":600,"y":300,"wires":[]},
    {"id":"s02_ativar","type":"inject","z":"tab_sala02","name":"🛡️ Ativar Sala","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ac-iot/sala02/comando","payload":"{\"modo_ac\":\"ativo\"}","payloadType":"json","x":170,"y":60,"wires":[["out_s02"]]},
    {"id":"s02_desativar","type":"inject","z":"tab_sala02","name":"🛡️ Desativar Sala","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ac-iot/sala02/comando","payload":"{\"modo_ac\":\"desativado\",\"comando\":\"desligar\"}","payloadType":"json","x":180,"y":110,"wires":[["out_s02"]]},
    {"id":"s02_ac_on","type":"inject","z":"tab_sala02","name":"❄️ Ligar AC","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ac-iot/sala02/comando","payload":"{\"comando\":\"ligar\"}","payloadType":"json","x":160,"y":180,"wires":[["out_s02"]]},
    {"id":"s02_ac_off","type":"inject","z":"tab_sala02","name":"❄️ Desligar AC","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ac-iot/sala02/comando","payload":"{\"comando\":\"desligar\"}","payloadType":"json","x":170,"y":230,"wires":[["out_s02"]]},
    {"id":"s02_luz_on","type":"inject","z":"tab_sala02","name":"💡 Ligar Luz","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ac-iot/sala02/comando","payload":"{\"luz\":\"ligar\"}","payloadType":"json","x":160,"y":300,"wires":[["out_s02"]]},
    {"id":"s02_luz_off","type":"inject","z":"tab_sala02","name":"💡 Desligar Luz","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ac-iot/sala02/comando","payload":"{\"luz\":\"desligar\"}","payloadType":"json","x":170,"y":350,"wires":[["out_s02"]]},
    {"id":"s02_set20","type":"inject","z":"tab_sala02","name":"🌡️ Set 20°C","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ac-iot/sala02/comando","payload":"{\"setpoint\":20}","payloadType":"json","x":160,"y":420,"wires":[["out_s02"]]},
    {"id":"s02_set22","type":"inject","z":"tab_sala02","name":"🌡️ Set 22°C","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ac-iot/sala02/comando","payload":"{\"setpoint\":22}","payloadType":"json","x":160,"y":470,"wires":[["out_s02"]]},
    {"id":"s02_set25","type":"inject","z":"tab_sala02","name":"🌡️ Set 25°C","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ac-iot/sala02/comando","payload":"{\"setpoint\":25}","payloadType":"json","x":160,"y":520,"wires":[["out_s02"]]},
    {"id":"s02_pres_on","type":"inject","z":"tab_sala02","name":"👤 Presença ON","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ac-iot/sala02/comando","payload":"{\"presenca\":true}","payloadType":"json","x":170,"y":590,"wires":[["out_s02"]]},
    {"id":"s02_pres_off","type":"inject","z":"tab_sala02","name":"👤 Presença OFF","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ac-iot/sala02/comando","payload":"{\"presenca\":false}","payloadType":"json","x":170,"y":640,"wires":[["out_s02"]]},

    {"id":"out_s03","type":"mqtt out","z":"tab_sala03","name":"Comando Sala03","topic":"","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"mqtt_broker_docker","x":600,"y":300,"wires":[]},
    {"id":"s03_ativar","type":"inject","z":"tab_sala03","name":"🛡️ Ativar Sala","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ac-iot/sala03/comando","payload":"{\"modo_ac\":\"ativo\"}","payloadType":"json","x":170,"y":60,"wires":[["out_s03"]]},
    {"id":"s03_desativar","type":"inject","z":"tab_sala03","name":"🛡️ Desativar Sala","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ac-iot/sala03/comando","payload":"{\"modo_ac\":\"desativado\",\"comando\":\"desligar\"}","payloadType":"json","x":180,"y":110,"wires":[["out_s03"]]},
    {"id":"s03_ac_on","type":"inject","z":"tab_sala03","name":"❄️ Ligar AC","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ac-iot/sala03/comando","payload":"{\"comando\":\"ligar\"}","payloadType":"json","x":160,"y":180,"wires":[["out_s03"]]},
    {"id":"s03_ac_off","type":"inject","z":"tab_sala03","name":"❄️ Desligar AC","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ac-iot/sala03/comando","payload":"{\"comando\":\"desligar\"}","payloadType":"json","x":170,"y":230,"wires":[["out_s03"]]},
    {"id":"s03_luz_on","type":"inject","z":"tab_sala03","name":"💡 Ligar Luz","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ac-iot/sala03/comando","payload":"{\"luz\":\"ligar\"}","payloadType":"json","x":160,"y":300,"wires":[["out_s03"]]},
    {"id":"s03_luz_off","type":"inject","z":"tab_sala03","name":"💡 Desligar Luz","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ac-iot/sala03/comando","payload":"{\"luz\":\"desligar\"}","payloadType":"json","x":170,"y":350,"wires":[["out_s03"]]},
    {"id":"s03_set20","type":"inject","z":"tab_sala03","name":"🌡️ Set 20°C","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ac-iot/sala03/comando","payload":"{\"setpoint\":20}","payloadType":"json","x":160,"y":420,"wires":[["out_s03"]]},
    {"id":"s03_set22","type":"inject","z":"tab_sala03","name":"🌡️ Set 22°C","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ac-iot/sala03/comando","payload":"{\"setpoint\":22}","payloadType":"json","x":160,"y":470,"wires":[["out_s03"]]},
    {"id":"s03_set25","type":"inject","z":"tab_sala03","name":"🌡️ Set 25°C","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ac-iot/sala03/comando","payload":"{\"setpoint\":25}","payloadType":"json","x":160,"y":520,"wires":[["out_s03"]]},
    {"id":"s03_pres_on","type":"inject","z":"tab_sala03","name":"👤 Presença ON","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ac-iot/sala03/comando","payload":"{\"presenca\":true}","payloadType":"json","x":170,"y":590,"wires":[["out_s03"]]},
    {"id":"s03_pres_off","type":"inject","z":"tab_sala03","name":"👤 Presença OFF","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ac-iot/sala03/comando","payload":"{\"presenca\":false}","payloadType":"json","x":170,"y":640,"wires":[["out_s03"]]}
]
